body {
	background-color: black;
}
div#map {
	position: fixed;
	width: 100%;
	height: 100%;
    left: 50px;
    top: 0;
    transition: left .5s ease-in .5s;
}

nav {
    position: fixed;
    width: 250px;
    left: -250px;
    top: 0;
    bottom: 0;
    transition: left .5s ease-in .5s;
    border: 1px solid black;
    background-color: white;
}
nav:after {
    content: "\f0c9";
    font-family: "FontAwesome";
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    color: white;
    background-color: black;
    position: absolute;
    left: 100%;
    top: -1px;
    padding: 15px 5px 20px 5px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    border: 1px solid white;
}
nav:hover {
    left: 0;
    transition: left .5s ease-in 0s;
}
nav:hover:after {
    content: "\f00d";
}
nav .navlist {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
nav .navsection {
    min-height: 50px;
    padding-top: 25px;
    padding-left: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
nav .navsection:after {
    content: "\f054";
    font-family: "FontAwesome";
    color: black;
    display: block;
    position: relative;
    left: -20px;
    bottom: 17px;
}
nav .navsection:hover {
    background-color: rgb(120, 23, 31);
    color: white;
    cursor: pointer;
}
nav h4 {
    display: block;
    font-size: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.lichecker {
    display: none;
}
.lichecker:checked + label > .navsection:after {
    content: "\f078";
}
.navtext {
    display: none;
}
.lichecker:checked + label + .navtext {
    display: inline-block;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sourcelist {
    margin-left: -17px;
}
.tooltip {
    position: relative;
    display: inline;
    border-bottom: 1px dotted black;
}
.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip .tooltiptext {
    width: 240px;
    text-align: center;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.window {
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
}
.window h1 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: 0;
}
div#infobox-overlay {
    width: 420px;
    top: 0;
    right: 0;
}
div#infobox-overlay img {
    width: 102px;
    height: 119px;
    float: right;
}
div#infobox-overlay p.dynasty {
    font-size: 10px;
    text-align: center;
}
div#debug-overlay {
    width: 200px;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.city, .region {
    position: relative;
    cursor: default;
    text-align: center;
    line-height: 1em;
    color: white;
}
.city img {
    width: 16px;
    height: 16px;
}
.city:hover .tooltiptext {
    visibility: visible;
}

.waypoint {
    cursor: pointer;
}
.waypoint img {
    width: 25px;
    height: 30px;
}
.waypoint .tooltiptext {
    width: 440px;
    text-align: center;
}
.waypoint:hover .tooltiptext {
    visibility: visible;
}
